.info-paper {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 400px;
  top: 40%;
  left: 40%;
  h3 {
    color: #7c7c7c;
    margin: 5% 5%;
  }
  .earth-icon {
    font-size: 0.5rem;
    height: 150px;
  }
}
