.event-card-list {
    padding: 0 15px;

    .search-field {
        height: 32px;
        width:100%;
        border-radius: 9px;
        font-weight: bold;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        
        &:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 2px solid rgba(81, 203, 238, 1);
        }
    }

}

