.event-card {
  height: 125px;
  margin-top: 10px;
  display: flex;
  position: relative;

  .image {
    width: 40%;
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }

  .content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    h6 {
      margin: 0;
      padding-left: 5px;

      color: #acacac;
    }

    h3 {
      color: rgb(55, 72, 129);
      margin: 2px 0;
      padding-left: 5px;
    }
    .event-description {
      display: block;
      font-size: 0.75rem;
      padding-left: 5px;
      width: 78%;
    }
    .row {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      .room-icon {
        color: #d14141;
        margin: 3px 5px -5px 5px;
      }

      .geocode {
        position: relative;
        color: #acacac;
        font-size: 0.65rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .attend-button {

        position: absolute;
        box-sizing: border-box;
        font-size: 0.75rem;
        width: 85px;
        height: 35px;
        right: 5px;
        bottom: 5px;
      }
      .time {
        color: #acacac;
        font-size: 0.75rem;
        position: absolute;
        bottom: 45px;
        right: 5px;
      }
    }
  }
  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #d14141;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.tooltip {
  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
      transition: 0.4s;
    }
  }

  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    .participant {
      margin: 0 5px;
      font-size: 0.9rem;
    }
  }
}
