.event-card {

    
    h3 {
        background: #3F51B5;
        color: whitesmoke;
        margin: 0;
        padding: 15px;
    }
    span {
        display: block;
        padding: 15px;
        margin-bottom: 15px;
    }
}